<ion-header [translucent]="true">
  <ion-header>
    <ion-toolbar>
      <div class="bgtoolbar">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      <ion-title class="center">ครัวป้าลัย</ion-title>
    </div>
    </ion-toolbar>
  </ion-header>

<ion-content [fullscreen]="true">
  <div class="bg">
    <ion-grid>
      <ion-row>
        <ion-col>
          <img src="assets/product/15promax.webp">
          <ion-label>
            <div class="center">
            iPhone 15 Pro Max<br>
            ราคา 44,900 <br>
            <ion-button>
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
          </ion-label>
        </ion-col>

        <ion-col>
          <img src="assets/product/f23fe.webp" alt="">
          <ion-label>
            <div class="center">
            Samsung S23 fe<br>
            ราคา 23,900 <br>
            <ion-button>
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
          </ion-label>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col>
          <img src="assets/product/ipadair5.webp">
          <ion-label>
            <div class="center">
            iPad Ait5<br>
            ราคา 39,900 <br>
            <ion-button>
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
          </ion-label>
        </ion-col>

        <ion-col>
          <img src="assets/product/mi-14tpro.jpg" alt="">
          <ion-label>
            <div class="center">
            Mi 14T Pro<br>
            ราคา 29,900 <br>
            <ion-button>
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img src="assets/product/mipad5.jpg">
          <ion-label>
            <div class="center">
            MiPad5<br>
            ราคา 14,900 <br>
            <ion-button>
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
          </ion-label>
        </ion-col>

        <ion-col>
          <img src="assets/product/s24.webp" alt="">
          <ion-label>
            <div class="center">
            Samsung S24 Ultra<br>
            ราคา 44,900 <br>
            <ion-button>
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
          </ion-label>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <img src="assets/product/ts9.jpg">
          <ion-label>
            <div class="center">
            Samsung Tap S9 Ultra<br>
            ราคา 39,900 <br>
            <ion-button>
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
          </ion-label>
        </ion-col>

        <ion-col>
          <img src="assets/product/vivo-y20.png" alt="">
          <ion-label>
            <div class="center">
            Vivo Y20<br>
            ราคา 14,900<br>
            <ion-button>
              <ion-icon name="cart-outline"></ion-icon>
              สั่งซื้อ
            </ion-button>
          </div>
          </ion-label>
        </ion-col>
      </ion-row>

    </ion-grid>
  </div>
</ion-content>
